.header{
    background:dodgerblue;
    color: white;
    height: 60;
    padding: 10 ;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: space-around;
}

// BEM block elemet modifier
.header__title {
    font-size: $l-size;
    
}
